a{
    position: absolute;
    left: 34%;
    top:70%;
}

body{
    
    background-image: url("assets/image/bg.jpg");
    background: url('assets/image/bg.jpg');
    background-size: 60%;   
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: 52.5%;


    
}